builder.path=/path/to/AllediaBuilder

project.AllediaFramework.path=/path/to/AllediaFramework
project.AllediaInstaller.path=/path/to/AllediaInstaller
project.AllediaFreeDefaultFiles.path=/path/to/AllediaFreeDefaultFiles
project.OSSystem.path=/path/to/OSSystem
