.osmap-menu-options {
    padding:10px;
    padding-left: 27px;
}

.osmap-menu-options label {
    cursor:move;
    clear: both;
}

.osmap-menu-options input, .osmap-menu-options select {
    margin: 5px 5px 2px 0px;
}

.osmap-links {
    font-size: 12px;
}

.osmap-modal-status {
    font-size: 13px;
}

.osmap-modal-status .icon-star {
    color: #feb123;
}

#osmap-items-container .btn-group [class^="icon-"],
#osmap-items-container .btn-group [class*=" icon-"] {
    font-size: 14px;
}

#osmap-items-container .small.silver {
    color: silver;
}

ul.ul_sortable {
    list-style:none;
    margin:0;
    padding:0;
}

ul.ul_sortable li:hover {
    background-color: #e8e8e8;
}

ul.ul_sortable li {
    cursor: move;
    background-color: #f6f6f6;
    margin-bottom: 5px;
    padding: 5px;
    max-width: 335px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

ul.ul_sortable li label.menu_label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0px;
}

ul.ul_sortable input[type="checkbox"] {
    margin: -2px 7px 0 8px;
}

ul.ul_sortable li.ui-sortable-helper {
    background-color: #e2e2e2;
}

ul.ul_sortable li.ui-sortable-placeholder {
    border: 4px dashed #f6f6f6 !important;
    visibility: visible !important;
    background-color: transparent !important;
}
