.osmap-debug .osmap-items {
    padding-right: 20px;
}

.osmap-debug ul {
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.osmap-debug h2 {
    margin-left: 20px;
}

.osmap-debug h2 div {
    font-size: 12px;
}

.osmap-debug-item {
    padding: 10px 8px;
    margin-left: 0;
    list-style-position: inside;
    border-top: 1px solid #eaeaea;
}

.osmap-debug-item.even {
    background: #f3f3f3;
}

.osmap-debug-box {
    font-size: 12px;
    padding-left: 20px;
}

.osmap-debug-box * {
    color: #666;
}

.osmap-debug-box div > span {
    font-weight: bold;
}

.osmap-debug-sitemap,
.osmap-debug-items-count {
    padding: 10px;
    background: #f1ffa4;
    border-top: 1px solid #eaeaea;
}

.osmap-debug-item a.osmap-link {
    font-weight: bold;
}
